/* your styles go here */
/* Example site test */
* {
  -webkit-text-rendering: optimizeLegibility;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

#services {
  height: 75px;
}

.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

/* .box-simple {
    min-height: 230px;
} */
