{{ if isset .Site.Params "about" }}
{{ if .Site.Params.about.enable }}
<section id="about-us" class="bar background-white">
    <div class="container about">
        <h1>About us</h1>
        <div>
            <p>We believe that connecting individuals is critical for success in today's world at Cloud Connectorz. We are a development and consultancy firm with a focus on the connection, be it human or digital. We are a diverse group of cloud enthusiasts, who like to share knowledge and work on interesting projects. Technology is not only our job, but it is also our passion. We enjoy bridging the gap between people and technology.</p>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
