{{ if isset .Site.Params "about" }}
{{ if .Site.Params.about.enable }}
<section id="about-me" class="bar background-white">
    <div class="container about">
        <h1>Culture and Team</h1>
        <div>
            <p>The culture at Cloud Connectorz is based on 3 pillars:</p>

            <ol>
                <li><strong>Personal attention:</strong> building up a team, focus on the human connection. Be there for each other and having fun together.</li>
                <li><strong>Respect:</strong> The culture is one of respect and inclusion. We are open, flat and always helping each other and encourage everyone to bring their unique perspectives to the table.</li>
                <li><strong>Cloud Native</strong> with a focus on modern application/platform development. Passionate about learning.</li>
            </ol>
            <p>The team at Cloud Connectorz is composed of experienced, highly skilled developers and engineers who are committed to delivering quality cloud solution. Their expertise covers a wide range of technologies, including cloud development, and cloud engineering. Cloud Connectorz provides consulting services to help customers with the design and implementation of their goals. Meet the team.</p>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
