{{ if isset .Site.Params "about" }}
{{ if .Site.Params.about.enable }}
<section id="about-me" class="bar background-white">
    <div class="container about">
        <h1>About us</h1>
        <div>
            <p>
                Cloud Connectorz is a development and consultancy organization with a focus on the connection, be it human or digital. We are a diverse group of cloud enthusiasts, who like to share knowledge and work on interesting projects. Technology is not only our work but also our passion and connecting a healthy work/life balance is important as well.
            </p>            
        </div>
    </div>
</section>
{{ end }}
{{ end }}
