{{ if isset .Site.Params "careers" }}
{{ if .Site.Params.careers.enable }}
<section>
    <div class="banner-landing">
    </div>
</section>
<section class="bar background-white">
    <div class="container">
        <h1>Come work with us!</h1>
        <p>There’s always room for one more cloud developer/engineer/architect/techie who wants to connect. We offer:</p>
        <ul>
            <li>Connection with and between people. Stay in touch, attention for, and between co-workers</li>
            <li>The right assignment with the right person focused on, and in the cloud</li>
            <li>Facilitate knowledge sharing and group dynamics</li>
            <li>A competitive salary with a yearly performance bonus, a mobility budget or a lease car, a laptop of your own choice, 26 leave days, a generous training budget and much more</li>
            <li>We offer you the chance to connect and shape the culture together at Cloud Connectorz</li>
            <li>For more information see your job post on <a href="https://www.linkedin.com/jobs/view/3249745827/?refId=8BBJ%2B1dljsqicqqnS1bXRw%3D%3D" target="_blank" rel="noreferrer noopener">LinkedIn</a></li>
        </ul>
    </div>
</section>
{{ end }}
{{ end }}
