{{ if isset .Site.Params "contactlp" }}
{{ if .Site.Params.contactlp.enable }}
<section class="bar background-white">
    <div class="container">
        <h3>Jorryt de Vries</h3>
        <div>
            <p>+31(0) 6 5461 4246</p>
            <p>jorryt@cloudconnectorz.nl</p>
            <a href="https://outlook.office365.com/owa/calendar/MeetwithJorryt@cloudconnectorz.nl/bookings/" target="_blank" rel="noreferrer noopener">Book a meeting with me here</a>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
