{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if isset .Site.Data "features" }}
{{ if gt (len .Site.Data.features) 0 }}
<section class="bar background-white features-info">
    <div class="container information-box">
        <!-- Information Box for the Featured Item -->
        <div>
            <h3 id="infobox">Development has long ceased to be about monolithic applications. Nowadays it is a series of (micro)services, functions, containers, interfaces, services, etc. This type of development requires a different approach. Not only object-oriented, but much more. Development revolves around creativity, analytical skills, continuous learning, passion and fun and interaction with each other.</h3>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
