<footer id="footer">
    <div class="container socials">
        <div class="socials-icons">
            <a href="https://www.instagram.com/cloudconnectorz/" target="_blank"><i class="fab fa-instagram social-icon"></i></a>
            <a href="https://twitter.com/CConnectorz" target="_blank"><i class="fab fa-twitter social-icon"></i></a>
            <a href="https://www.linkedin.com/company/cloud-connectorz/" target="_blank"><i class="fab fa-linkedin-in social-icon"></i></a>
            <a href="https://www.youtube.com/@cloudconnectorz5035" target="_blank"><i class="fab fa-youtube social-icon"></i></a>
        </div>
    </div>
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="container">
        <div class="col-md-12">
            {{ if isset .Site.Params "copyright" }}
            <p class="pull-left">{{ .Site.Params.copyright | safeHTML }}</p>
            {{ end }}
            </p>
        </div>
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
