<header class="navbar-affixed-top affix-top" data-spy="affix" data-offset-top="62">
  <div class="navbar navbar-default yamm " role="navigation" id="navbar">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand home" href="/">
                  
                    <img src="/img/logo.png" alt="CloudConnectorz logo" class="hidden-xs hidden-sm">
                    <img src="/img/logo-small.png" alt="CloudConnectorz logo" class="visible-xs visible-sm">
                  
                  <span class="sr-only">CloudConnectorz - go to homepage</span>
              </a>
              <div class="navbar-buttons">
                  <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle Navigation</span>
                      <i class="fas fa-align-justify"></i>
                  </button>
              </div>
          </div>
          

          <div class="navbar-collapse collapse" id="navigation">
              <ul class="nav navbar-nav navbar-right">
                

                
                
                

                

                

                

                
                <li class="dropdown ">
                  <a href="/">Home</a>
                </li>
                
                
                
                

                

                

                

                
                
                
                
                

                

                

                

                

                
                
                
                

                

                

                

                

                
                
                
                

                

                

                

                

                
                
              </ul>
          </div>
          

          <div class="collapse clearfix" id="search">
          </div>
      </div>
  </div>
</header>