{{ if isset .Site.Params "team" }}
{{ if .Site.Params.team.enable }}






<section id="team" class="bar background-white">
    <div class="container about">
        <h1>Culture and Team</h1>
        <div>
            <p>The culture at Cloud Connectorz is based on 3 pillars:</p>

            <ol>
                <li><strong>Personal attention:</strong> building up a team, focus on the human connection. Be there for each other and having fun together.</li>
                <li><strong>Respect:</strong> The culture is one of respect and inclusion. We are open, flat and always helping each other and encourage everyone to bring their unique perspectives to the table.</li>
                <li><strong>Cloud Native</strong> with a focus on modern application/platform development. Passionate about learning.</li>
            </ol>
            <p>The team at Cloud Connectorz is composed of experienced, highly skilled developers and engineers who are committed to delivering quality cloud solution. Their expertise covers a wide range of technologies, including cloud development, and cloud engineering. Cloud Connectorz provides consulting services to help customers with the design and implementation of their goals. Meet the team.</p>

        </div>
    </div>
    <div class="team-container">
        <div class="team-member modal-open-button" id="jorryt">
            <div class="team-member-headshot">
                <img src="img/Jorryt-de-Vries600.jpg" alt="Head shot of Jorryt de Vries" class="team-member-image">
            </div>
            <p class="team-member-name">Jorryt de Vries</p>
        </div>
        <div class="team-member modal-open-button" id="bas">
            <div class="team-member-headshot">
                <img src="img/Bas-Tichelaar-600.png" alt="Head shot of Bas Tichelaar" class="team-member-image">
            </div>
            <p class="team-member-name">Bas Tichelaar</p>
        </div>
        <div class="team-member modal-open-button" id="ardavan">
            <div class="team-member-headshot">
                <img src="img/Ardavan-Hosseini-800.jpg" alt="Head shot of Ardavan Hosseini" class="team-member-image">
            </div>
            <p class="team-member-name">Ardavan Hosseini</p>
        </div>
    </div>

<!-- Modal -->
</section>

<dialog class="team-modal" id="team-modal-select">
  <header>
    <div class="team-member-headshot-modal">
        <img id="team-member-photo" src="img/Jorryt-de-Vries600.jpg" alt="Head shot of Jorryt de Vries">
    </div>
    <h2 id="modal-header">About Jorryt</h2>
    <div id="blueright-modal"></div>
    <div id="orangeright-modal"></div>
    <button class="modal-close-button">&#x2716;</button>
  </header>
  <article id="modal-article">
      <p>Hi, my name is Jorryt de Vries. Founder and co-owner of Cloud Connectorz. I have been working in IT for over 20+ years. I had roles from developer to consultant, project management, coaching, etc. I am result-oriented, pragmatic, analytical and always looking for solutions.</p>
      <p>Over the years it became clear to me that I am always looking for connections. Be it personal or business, this is what drives me and what I am looking for. Connection is also the key in IT and it is from that conviction that I started Cloud Connectorz.</p>
  </article>
</dialog>

{{ end }}
{{ end }}
