{{ if isset .Site.Params "whatweoffer" }}
{{ if .Site.Params.whatweoffer.enable }}
<section id="services"></section>
<section class="bar background-white">
    <div class="container">
        <div class="whatweoffer">
            <span id="orangebullet" class="dot"></span><h1 class="whatweoffer"> Services</h1>
            <h2>Cloud Development, Engineering, Consulting with a strong focus on the connection</h2>
        </div>
        <div class="centereditem"><span class="dot darkblue"></span></div>
    </div>
</section>
{{ end }}
{{ end }}
