{{ if isset .Site.Params "whatweoffer" }}
{{ if .Site.Params.whatweoffer.enable }}
<section id="services"></section>
<section class="bar background-white">
    <div class="container">
        <div class="whatweoffer">
            <div class="whatweoffer-box"><div id="orangebullet" class="dot"></div><h1> Services</h1></div>
            <h2>Cloud Development, Engineering, Consulting with a strong focus on the connection</h2>
        </div>
        <br>
        <p class="whatweoffer-desc">We connect through long term projects or short-term engagements, developing and supporting the full life cycle of serverless applications or building and optimizing a platform: we can help.</p>
        <br>
        <div class="centereditem"><span class="dot darkblue"></span></div>
    </div>
</section>
{{ end }}
{{ end }}
